<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711369969235-17epmuh3d4f43crbj5q2ibm0n1sldou0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711369969235-17epmuh3d4f43crbj5q2ibm0n1sldou0</string>
	<key>API_KEY</key>
	<string>AIzaSyBWpsc9GmAwfLW2Uzs0aydLC0JjjjonaGs</string>
	<key>GCM_SENDER_ID</key>
	<string>711369969235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InnovAppWorks.studize</string>
	<key>PROJECT_ID</key>
	<string>firebase-test-8752845</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-test-8752845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711369969235:ios:f59383ccec4d8f4cd3c0a6</string>
</dict>
</plist>